.header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   max-width: 1920px;
   margin: 0 auto;
   padding: 20px 40px;
   background: none;
   z-index: 99;
   background: rgba(255, 255, 255, 0);
   box-shadow: none;
   &.active {
      background: $white;
      transition: background 0.1s ease-in-out;
      & .header__logo svg {
         height: 50px;
         transition: all 0.3s ease-in-out;
      }
   }
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0 auto;
      max-width: calc(1920px - 160px * 2);
      transition: $transitionLate;
   }

   &__menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 40%;
      width: 100%;
      padding: 16px 0;
      font-size: 14px;
      line-height: 17/14 * 100%;
      text-decoration: none;
   }

   &__menu-link {
      color: #2d2d2d;
      font-weight: 500;
      font-size: 14px;
      line-height: 17/14 * 100%;
      text-decoration: none;
   }
   &__contacts {
      padding: 16px 0;
      display: flex;
      text-decoration: none;
      & > *:not(:last-child) {
         margin-right: 20px;
      }
   }
   &__tels {
      font-size: 14px;
      line-height: 17/14 * 100%;
   }
   &__call {
      font-weight: bold;
      font-size: 14px;
      line-height: 17/14 * 100%;
      text-transform: uppercase;
      color: #00a2ce;
   }
}
