@font-face {
	font-family: FuturaPT-Bold;
	src: url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.woff2") format("woff2");
	font-weight: "normal";
	font-style: "normal";
	font-display: "swap";
}
@font-face {
	font-family: FuturaPT-Book;
	src: url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.woff2") format("woff2");
	font-weight: "normal";
	font-style: "normal";
	font-display: "swap";
}
@font-face {
	font-family: FuturaPT-Medium;
	src: url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.woff2") format("woff2");
	font-weight: "normal";
	font-style: "normal";
	font-display: "swap";
}
@font-face {
	font-family: icomoon;
	src: url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.woff2") format("woff2");
	font-weight: "normal";
	font-style: "normal";
	font-display: "swap";
}
